<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">	
	<title>eShop</title>
</head>
<body>
  <div id="app">
  <header>
    <input id="search" v-model="search" v-on:input="searchHandler">
    <button class="cart-button" v-on:click="openCartHandler" type="button">Корзина {{ cart.lengh }}</button>
    <div v-if="isCartOpen" class="product-basket">
      <ul>
        <li v-for="(good, index) in cart">{{ good.title }}<button :data-index="index" v-on:click="removeCartHandler">-</button></li>
      </ul>
    </div>
  </header>
  <main>
    <div class="goods-list">
      <div class="goods-item" v-for="(good, index) in filtredGoods">
        <h3>{{ good.title }}</h3>
        <p>{{ good.price }}</p>
        <button :data-index="index" v-on:click="addToCart"></button>
      </div>
    </div>
  </main>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>    
  <script src="script.js"></script> 

</body>
</html>